.imc-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.imc-title {
  font-size: 24px;
  color: #004d1a; /* Verde escuro */
  margin-bottom: 20px;
}

.imc-input {
  margin: 10px 0;
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.imc-button {
  margin-top: 20px;
  padding: 10px;
  width: 300px;
  background-color: #66bb6a; /* Verde médio */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.imc-button:hover {
  background-color: #388e3c; /* Verde mais escuro */
}

.imc-result {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #004d1a; /* Verde escuro */
}

.limpar-historico-button {
  background-color: #f44336; /* Vermelho */
}

.limpar-historico-button:hover {
  background-color: #e53935; /* Vermelho mais escuro */
}

.historico-container {
  margin-top: 20px; /* Espaço extra acima do histórico */
  width: 100%; /* Largura total */
}
