body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #eaf4e1; /* Fundo verde claro */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #d1d9e6;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 100%;
  max-width: 400px;
}

.login-container h1 {
  color: #004d1a; /* Verde escuro */
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #d1d9e6;
  border-radius: 5px;
  font-size: 16px;
}

.login-container input:focus {
  border-color: #66bb6a; /* Verde médio */
  outline: none;
}

.login-container button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #66bb6a; /* Verde médio */
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #388e3c; /* Verde mais escuro */
}

.login-container button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.signup-link {
  margin-top: 20px;
  font-size: 14px;
  color: #004d1a; /* Verde escuro */
}

.signup-link a {
  color: #388e3c; /* Verde mais escuro */
  text-decoration: none;
  font-weight: bold;
}

.signup-link a:hover {
  text-decoration: underline;
}
